/* first page */
* body {
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 50px 50px 50px 50px;
}

.mid {
    color: #FFFFFF;
    padding-top: 150px;
    text-align: center;
    font-size: 30px;
}

.mid-title {
    color: #ffffff;
    padding-left: 362px;
    font-size: 72px;
    width: 630px;
    height: 120px;
    text-align: center;
}

/* second section....... */
.second-div {
    width: 1600px;
    height: 835px;
    background: antiquewhite;
}

.title-percent {
    color: #F00;
    text-align: center;
    font-size: 60px;
    /* font-weight: 500; */
    padding-bottom: 0;
    padding-top: 30px;
    /* margin-top: 2px; */
}

.title-sml {
    color: #F00;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    height: 10px;
    padding-bottom: 0;
}

.title-mid {
    color: #070211;
    text-align: center;
    padding-bottom: 0;
    font-size: 35px;
    font-weight: 700;
}

.img {
    text-align: center;
}

/* Third section...... */
.third-sec {
    margin: 50px;
    /* background-image: url("image/resources/Vectorrr.png"); */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("image/resources/Vectorrr.png");
    width: 1350px;
    background-repeat: no-repeat;
    height: 600px;
    fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

.third-head {
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 800;
    width: 600px;
    padding-left: 126px;
    padding-top: 50px;
    margin-top: 50px;
}

.third-pra-heading {
    color: #FFFFFF;
    width: 697px;
    font-size: 18px;
    font-weight: 500;
    padding-left: 126px;
}

.first-btn {
    color: white;
    background-color: tomato;
    font-size: 25px;
    border: 0;
    margin-left: 126px;
    width: 130px;
    height: 50px;
}

.first1-body {
    display: flex;

}

.images {
    color: gold;
    width: 319.83px;
    height: 464.662px;
    padding-top: 68px;
    padding-right: 145px;
}

/* fourth section */
.sec-4 {
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    /* background-color: rgb(243, 217, 180); */
    background: rgba(255, 0, 0, 0.05);
}

.div-1 {
    text-align: center;
    padding: 150px 385px;
    font-size: 22px;
}

.spn-color {
    color: #F00;
}

.sec-btn {
    text-align: center;
    color: #FFFFFF;
    border: 0;
    padding: 10px 15px;
    border-radius: 5px;
    background: #F00;
}

/* section-five */
.sec5-div {
    margin-top: 70px;
    display: flex;
    gap: 10px;
}

.sp {
    color: #F00;
}

.set-pra {
    width: 393px;
}

.set-pra2 {
    width: 276px;
}

.im-div {
    width: 364.844px;
    height: 364.844px;
    padding: 10px;
    border: 10px #F00;
}

/* section-six

.div-tit{
    margin-top: 120px;
    text-align: center;
}
.div01{
    font-size: 24px; 
}
.div-t{
    font-size: 50px;
}
.div03{
    width: 700px;
    text-align: center;  
    padding-left: 276px;
}
.lower{
    display: flex;
    gap: 10px;
    background-image: url("image/resources/Rectangle 2.png");
    background-repeat: no-repeat;
   background-position: bottom;
   background-color: #FFFFFF;
}
.pic1{
    padding-right: 0px;
}
.pic2{
    justify-content: right bottom;
    padding-bottom: 230px;
   
    /* padding-right: 200px; */

/* .pic3{
    justify-content: left bottom;
    padding-bottom: 230px;
    padding-right: 200px;
} */
/* Section seven */
.portfolieo {
    margin-top: 100px;
}

.title {
    color: #F00;
    font-size: 22px;
}

.title-2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 42px;
}

.pra-7 {
    color: rgba(7, 2, 17, 0.60);
    font-size: 17px;
    width: 650px;
}

.first-three-image {
    padding-right: 5px;
    padding-bottom: 5px;
}

.second-three-image {
    padding-right: 5px;
    padding-bottom: 5px;
}

/* section eight */
.sec-8-first-div {
    margin-top: 100px;
    padding-top: 80px;
    text-align: center;
}

.sec-8 {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.div-8-heading {
    color: #070211;
    text-align: center;
}

.div-8-headings {
    text-align: center;
}

.sec-8-third-div {
    display: flex;
    text-align: center;
    padding-bottom: 50px;
}

.abtn {
    margin-left: 492px;
    background-color: #FFFFFF;
    height: 50px;
    width: 230px;
    border-radius: 50px 0px 0px 50px;
    border: 0;
}

.bbtn {
    border: 0;
    background-color: #F00;
    height: 50px;
    width: 130px;
    border-radius: 0px 50px 50px 0px;
    
}

/* last pera */
.last-sec{
    margin-top: 70px;
    background-color: #070211;
    border-radius: 5px;
    padding-bottom: 50px;
}
.ftp {
    color: #FFFFFF;
    width: 375px;
    font-size: 20px;
    padding: 100px 0 0 140px;
}
/* .world{
    color: #FFFFFF;
} */
.num{
    color: #FFFFFF;
}
.two{
    color: #FFFFFF;
}